.center{
    margin-top:15%;
    text-align:center;
}
#color{
    font-size:24px;
    color:black;
}
.physical{
    color:black;
    font-size:16px;
    font-weight:700;
}

.line{
  color: white;
  background-color: #25b1cc;
  width: 138px;
  height: 36px;
  border-width: 0px;
  border-radius: 20px;
  margin-left:45%;
  margin-top:20px;
}