.row-header {
  margin: 0px auto;
  padding: 0px auto;
  color: #0f0f0f;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  text-align: center;
}

.footer {
  background-color: #b0e0e6;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 30px 40px 30px 40px;
  margin: 0px auto;
  background: #b0e0e6;
  text-align: center;
}

address {
  font-size: 80%;
  margin: 0px;
  color: floralwhite;
}

.navbar {
  background-color: #b0e0e6;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.modal .modal-content {
  background-color: #b0e0e6;
}

.modal-header {
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  img.responsive {
    width: 100%;
  }
  img.responsive {
    height: 360px;
  }
}
@media screen and (min-width: 1025px) {
  img.responsive {
    width: 100%;
  }
  img.responsive {
    height: auto;
  }
}

.job-header,
.order-header {
  background-color: #b0e0e6;
}

.jobcard {
  background-color: #b0e0e6;
}

.modal-btn {
  color: black;
  border: 2px solid #555555;
  border-radius: 8px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #abbbc0;
}
.modal-btn:hover {
  background-color: #0066ff;
  /*background-color: #abbbc0;*/
  color: white;
}

.submit-btn {
  color: white;
  border: 2px solid #555555;
  border-radius: 8px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}
.submit-btn:hover {
  border: 2px solid #0066ff;
  background-color: #0066ff;
  color: white;
  font-weight: bold;
}

.container {
  margin-top: 1rem;
}

.table,
th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.th {
  background-color: #b0e0e6;
}
